@model IEnumerable<FastEquipmentTool.Models.EquipmentItem>
<h2>All Equipment</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Type</td>
            <td>@item.Description</td>
            <td>@(item.IsAvailable ? "Yes" : "No")</td>
        </tr>
    }
    </tbody>
</table>s